<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Components</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap"
    rel="stylesheet">
  <script src="/js/main.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>